/*
Master Style Sheet for Ucenter Home
CopyRight: 2001-2007 Comsenz Inc.
URL: http://www.comsenz.com
*/

* {  word-wrap:break-word; }
body { background: #FFF; color: #000; line-height: 1.5em; }
	body, h1, h2, h3, h4, h5, p, ul, dl, ol, form, fieldset { margin: 0; padding: 0; }
	body, td, input, textarea, select, button { font-size: 12px; font-family: Verdana,Arial,Helvetica,sans-serif; }
ul { list-style: none; }
cite { font-style: normal; }
a { color: #46498E; text-decoration: none; }
	a:hover { text-decoration: underline; }
	a img { border: none; }

/*布局*/
#wrap { margin: 0 auto; padding: 0 2px; width: 970px; text-align: left; }

.mainarea { float: right; width: 100%; margin-left: -150px; }
	.maininner { margin-left: 140px; }
.side { float: left; width: 130px; }

#cp_content { margin: 1em 0;}

/*细线边框区域*/
.bdrcontent { padding: 1em; border: 1px solid #3fa949; zoom: 1; }

/*粗边框区域*/
.block { margin-bottom: 10px; padding: 0.5em 1em; border: 1px solid #EFF5F8; }
	.block h2 { margin: 0.5em 0; color: #363636; font-size: 1.17em; }
	.block p { margin: 0.5em 0; }
	.side .block li { margin: 0.2em 0; }
				
/*多列的列表*/
.listcol { overflow: hidden; zoom: 1; }
	.list2col li { float: left; width: 49.9%; }
	.list3col li { float: left; width: 33.3%; }
	.list4col li { float: left; width: 24.9%; }
	.list5col li { float: left; width: 19.9%; }
	.list6col li { float: left; width: 16.6%; }
					
/*标签页*/
.tabs { height: 30px; line-height: 29px; }
	.tabs li { float: left; margin-right: 2px; padding: 0 1em; background: ; }
		.tabs li.active { line-height: 30px; }
		.tabs li h1 { font-size: 1em; font-weight: normal; }
		
/*分页*/
.pages {  }
	.pages * { float: left; padding: 0 4px; border: 1px solid #CDCDCD; margin-right: 5px; background: #FFF; font-style: normal; }
.topactions { margin-bottom: 10px; padding-top: 0.4em; padding-bottom: 0.2em; border-bottom: 1px solid #3fa949; }
	.topactions a { font-size: 14px; font-weight:bold; }

.footactions { margin: 0 auto 1em; text-align:center; padding: 0.5em; border: 1px solid #3fa949; border-top: 0px; }
	/*\*/ * html .footactions { height: 1%; } /**/ * > .footactions { overflow: hidden; }
	.footactions .pages { float: right; }
	
.submit { padding: 0.2em 1em 0; width: 1px; overflow: visible; border: 1px solid; border-color: #3fa949; background: #3fa949; color: #FFFFFF; cursor: pointer; }
	* > .submit { width: auto; padding: 0.3em 1em; }
	
/*标题右浮动 Digg 按钮*/
.titlel { float: left; margin-right: 0.83em; margin-top: 0.5em; }
.titler { position: absolute; right: 1em; top: 0.5em; z-index: 1; }

/*各种区域样式*/
.style1 { border-color: #EBE6C9; background: #FCF9E6; }
.style2 { border-color: #EAF6D2; }
.style3 { border-color: #EDEDED; }
.style3 { border-color: #CDE39C; }
.style4 { border: none; background: #FCF9E6; zoom: 1; border: 1px solid #CDCDCD; }
.style5 { padding: 10px; border: 1px solid #CDCDCD; background:#EAF6D2; }
.style6 { border: none; background: #DDF3FD; }

.gray { color: #999; font-weight: normal; }
.sfont { font-size: 10px; }
.underline { text-decoration: underline; }
.noline { text-decoration: none !important; border: none; }
	.noline a { text-decoration: none !important; border: none; }
.footmargin { margin-bottom: 10px; }

/*用于表单的表格*/
.formtable { width: 100%; }
	.formtable th { text-align: left; font-weight: bold; color: #333333; }
	.formtable th, .formtable td { padding: 0.5em 0; border-bottom: 1px solid #F2F2F2; vertical-align: top; line-height:1.5em; }
		.formtable td th, .formtable td td { border: none; }

.title { margin-bottom: 10px; padding-bottom: 0.5em; border-bottom: 1px solid #3fa949;}
	.title h1, .title h3 { padding: 0.6em 0 0.2em 0; font-size: 1.17em; }

#footer { clear: both; padding: 1em 0; color: #939393; text-align: center; }
	#footer p { font-size: 0.83em; }
	#footer .menu a { padding: 0 1em; }

/*目录列表*/

	.folder .active { font-weight:bold;}
	
/*************************************************HEADER***/
#header { margin: 0 0 20px; }
  .headerwarp { margin: 0 auto; padding: 0 20px; width: 930px; height: 66px; background: url(../images/header_bg.jpg) no-repeat; color: #3B5998; }
      .headerwarp .logo { float: left; margin: 0 30px 0 0; font-size:14px; padding-top:10px; }

.menu { float: left; height: 40px; font-weight: bold; }
  .menu li { float: left; padding: 10px; line-height: 20px; }
    .menu .edit { padding-left: 4px; color: #CCC; font-size: 12px; font-weight: normal; }

.nav_account { float: right; width: 185px; padding-top:10px; }
  .login_thumb { float: left; margin: 6px 6px 0 0; padding: 3px 0 0 3px; width: 24px; height: 24px; display: block; }
    li.notify { margin: 9px 0 0; padding: 0 0 0 18px; width: 72px; height: 20px; color: #FFF; font-size: 12px; font-weight: normal; }

.menu li.dropmenu { margin: 0 10px 0 0; padding: 10px 15px 10px 10px; height: 20px; background: url(triangle.gif) no-repeat right center; overflow: hidden; }
  .menu li.dropmenu a { vertical-align: super;}
  .dropmenu_drop { margin: -1px 0 0; padding: 0 10px 10px; width: 150px; border: 1px solid #CCC; background: #FFF; z-index: 200; }
      .dropmenu_drop li { padding: 5px 10px; border-bottom: 1px solid #EEE; }
        .dropmenu_drop li a { color: #2C629E; font-size: 12px; font-weight: normal; }
        .dropmenu_drop .active { font-weight: bold; }

#main { margin: 0 0 20px; width: 100%; overflow: hidden; }
}
        .dropmenu_drop .active { font-weight: bold; }

#main { margin: 0 0 20px; width: 100%; overflow: hidden; }
